*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("img.png");
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Container styling */
.container {
    /* border: 2px solid white;
    border-radius: 20px; */
    width: 50%;
    min-width: 50%;
    position: relative;
    transform: translate(-50%, 35%);
    top: 10%;
    left: 50%;
    padding: 10px;
}
/* This is a header */
#Header {
    font-size: 1rem;
    color: #e5e1ef;
}

#newtask {
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
    width: 75%;
    height: 40px;
    border: 0.5px solid #747676;
    padding: 12px;
    color: #060f2c;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    position: relative;
    border-radius: 8px;
}

#newtask input :focus {
    outline: none;
    border-color: #2e55f5;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    background-color: #5c1feb;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#tasks {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 50%;
    position: relative;
    top: 20%;
    left: 25%;
}

.task {
    background-color: #ffffff;
    height: 35px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span {

    font-size: 16px;

}

.task button {
    background-color: #5c1feb;
    color: #ffffff;
    height: 30px;
    width: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed {
    text-decoration: line-through;

}